/* Login Scss */
.login-container .login-logo {
    height: 100px;
    background-color: #eeeeeb !important;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-left {
    justify-content: left !important;
}

.justify-content-right {
    justify-content: right !important;
}