{{#block06enabled}}
{{#block06desing1}}
    {{> theme_almondb/frontpage/block06_1 }}
{{/block06desing1}}
{{#block06desing2}}
    {{> theme_almondb/frontpage/block06_2 }}
{{/block06desing2}}
{{/block06enabled}}
