{{#block07enabled}}
<div class="blockbgwhite">
    <div class="container">
        <div class="row">
            {{! Courses }}
            <div class="col-md-12" >
                <div class="section-title-fp  hytext text-center">
                    <h4>{{block07header}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{{#block07desing1}}
    {{> theme_almondb/frontpage/block07_1 }}
{{/block07desing1}}          
{{#block07desing2}}
    {{> theme_almondb/frontpage/block07_2 }}
{{/block07desing2}}  
{{#block07desing3}}
    {{> theme_almondb/frontpage/block07_3 }}
{{/block07desing3}}  
{{#block07desing4}}
    {{> theme_almondb/frontpage/block07_4 }}
{{/block07desing4}} 
{{#block07desing5}}
    {{> theme_almondb/frontpage/block07_5 }}
{{/block07desing5}}

<div class="d-flex justify-content-center hy-pt-5 blockbgcolor-b">
    <div class="hire-us-btn">
        <a class="hybtn" href="{{block07buttonlink}}">{{block07button}}</a>
    </div>
</div>
{{/block07enabled}}
