{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{#block07enabled}}
<div class="blockbgwhite">
    <div class="container">
        <div class="row">
            {{! Courses }}
            <div class="col-md-12" >
                <div class="section-title-fp  hytext text-center">
                    <h4>{{block07header}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{{#block07desing1}}
    <section id="section-7-1">
        {{> theme_almondb/frontpage/block07_1 }}
    </section>
{{/block07desing1}}          
{{#block07desing2}}
    <section id="section-7-2">
        {{> theme_almondb/frontpage/block07_2 }}
    </section>
{{/block07desing2}}  
{{#block07desing3}}
    <section id="section-7-3">
        {{> theme_almondb/frontpage/block07_3 }}
    </section>
{{/block07desing3}}  
{{#block07desing4}}
    <section id="section-7-4">
        {{> theme_almondb/frontpage/block07_4 }}
    </section>
{{/block07desing4}} 
{{#block07desing5}}
    <section id="section-7-5">
        {{> theme_almondb/frontpage/block07_5 }}
    </section>
{{/block07desing5}}

<div class="d-flex justify-content-center hy-pt-5 blockbgcolor-b">
    <div class="hire-us-btn">
        <a class="hybtn" href="{{block07buttonlink}}">{{block07button}}</a>
    </div>
</div>
{{/block07enabled}}
