{{#block11enabled}}
    {{#block11desing1}}
        {{> theme_almondb/frontpage/block11_1 }}
    {{/block11desing1}}
    {{#block11desing2}}
        {{> theme_almondb/frontpage/block11_2 }}
    {{/block11desing2}}
{{/block11enabled}}