{{#block01enabled}}
    <div class="hire-us-area theme-bg"  id="block01" {{#block01color}}style="background-color: {{block01color}};"{{/block01color}}>
        <div class="container">
            <div class="row">
                {{#block01button}}
                <div class="col-lg-7 col-md-9 col-12">
                {{/block01button}}
                    <div class="hire-us-content">
                        <h6>{{{block01caption}}}</h6> 
                    </div>  
                </div>
                {{#block01button}}
                <div class="col-lg-3 col-md-3  offset-lg-2 col-12 text-right">
                    <a class="hybtn hire-us-button" href="{{{blockabuttonlink}}}">{{{block01button}}}</a>
                </div>
                {{/block01button}}
            </div>
        </div>
    </div>
 {{/block01enabled}}
