{{#block10enabled}}
{{#block10desing1}}
    {{> theme_almondb/frontpage/block10_1 }}
{{/block10desing1}}
{{#block10desing2}}
    {{> theme_almondb/frontpage/block10_2 }}
{{/block10desing2}}
{{/block10enabled}}