<div class="blockbgcolor gray-bg">
    <div class="container">
        <div class="row">
            {{! Courses }}
            <div class="col-md-12" >
                <div class="section-title-fp hytext text-center">
                    <h4>{{block11header}}</h4>
                </div>
                <div class="item-content text-center hy-pt-5">    
                    <p>{{{block11caption}}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block11desing1 gray-bg hy-pb-30">
    <div class="container">  
        <div class="row">  
            {{#block11}}
            <div class="col-md-4 col-lg-4 col-sm-12 mb-4">
                <div class="card h-100">
                    <div class="tag-top">
                        {{{userpicture}}} {{{username}}}
                    </div>   
                    <div class="course-project" style= "background-image: url({{{imgurl}}});">
                         
                    </div>    
                    <div class="tag-top">
                       {{{userdate}}}
                    </div>     
                    <div class="card-body">
                        <h5 class="card-title post-heading"><a href="{{postURL}}" class="text-decoration-none">
                            {{subject}}
                        </a></h5>
                        
                        <p class="card-text">{{#shortentext}} 200, {{{summary}}} {{/shortentext}}</p>
                        
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"> {{{tag}}}</small>
                    </div>
                </div>
            </div> 
            {{/block11}}
            
        </div> 
    </div>
</div>
<style>
.tag_list {
    font-size: 12px;
}
.tag_list b{
    display: none;
}
</style>