{{#block19enabled}}
{{#block19desing1}}
    {{> theme_almondb/frontpage/block19_1 }}
{{/block19desing1}}
{{#block19desing2}}
    {{> theme_almondb/frontpage/block19_2 }}
{{/block19desing2}}
<style>   
@media only screen and (max-width: 576px) {
    .block19desing2 .col-xs {
        width: 50%;
    }
}  
</style>
{{/block19enabled}}