{{#block04enabled}}
{{#block04desing1}}
    {{> theme_almondb/frontpage/block04_1 }}
{{/block04desing1}}
{{#block04desing2}}
    {{> theme_almondb/frontpage/block04_2 }}
{{/block04desing2}}
{{/block04enabled}}