{{#block03enabled}}
{{#block03desing1}}
    {{> theme_almondb/frontpage/block03_1 }}
{{/block03desing1}}
{{#block03desing2}}
    {{> theme_almondb/frontpage/block03_2 }}
{{/block03desing2}}
{{#block03desing3}}
    {{> theme_almondb/frontpage/block03_3 }}
{{/block03desing3}}
{{/block03enabled}}