
<!-- Start section -->

{{> theme_almondb/frontpage/block01 }}

{{> theme_almondb/frontpage/block02 }}

{{> theme_almondb/frontpage/block09 }}

{{> theme_almondb/frontpage/block04 }}

{{> theme_almondb/frontpage/block03 }}

{{> theme_almondb/frontpage/block07 }}

{{> theme_almondb/frontpage/block05 }}

{{> theme_almondb/frontpage/block08 }}

{{> theme_almondb/frontpage/block06 }}

{{> theme_almondb/frontpage/block11 }}

{{> theme_almondb/frontpage/block10 }}

{{> theme_almondb/frontpage/block19 }}

{{> theme_almondb/frontpage/block20 }}
<!-- End section -->
